@import "tailwindcss";

@theme {
  --font-sans: "M PLUS Rounded 1c", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #f0fdf4;
  color: #334155;
  background-image: radial-gradient(#bbf7d0 2px, transparent 2px);
  background-size: 32px 32px;
}
